<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Authors</title>
</head>
<body>
    <div class="container">
        <div class="align">
            <div class ="left">
                <h1 class="pad">New Author</h1>
                <form action="/addauthor" method="POST">
                    <div class="form-outline mb-4" class="pad">
                        <label for="name" >Name:</label>
                        <input type="text" name="name">
                        <input type="submit" value="Create" style="background-color: blue; color: white;">
                    </div>
                </form>
            </div>
            <a href="http://localhost:5000/authors">Authors</a>
            <a href="http://localhost:5000/books">Books</a>
        </div>
        <div class="align">
            <div class="right">
                <h1>All Authors</h1>
                <div >
                    {% for author in authors %}
                    <p><a href='/authors/{{ author.id }}'> {{ author.name }} </a></p>
                    {% endfor %}
                </div>
            </div>
            <a href="http://localhost:5000/books" >Add Book</a>
        </div>
    </div>
</body>
</html>