.container {
    display: flex;
    justify-content: space-evenly;
    color: antiquewhite;
    text-align: center;
}

.left, .right {
    background-color: hotpink;
    width: 500px;
    padding: 20px;
}
th, td, .left, .right {
    color: antiquewhite;
}

.pad {
    padding: 20px 0;
}

.button {
    background-color: blue; 
    color: white;
}
